<ion-view view-title="我">
  <ion-content class="padding">
    <ion-list>
      <div class="item item-body">客服电话 (400-800-8000)</div>
      <div class="item item-body">我的城市 (上海)</div>
      <div class="item item-body">意见反馈</div>
      <div class="item item-body">给我们点赞</div>
    </ion-list>

    <div class="list card">
      <a class="item item-icon-right" ng-href="#/tab/me/account">
        <i class="icon ion-chevron-right icon-accessory"></i>
        账号设置
      </a>
    </div>

    <div class="list card">
      <a class="item item-icon-right" ng-href="#">
        我想提供洗车服务
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
  </div>

  </ion-content>
</ion-view>