<ion-view title="">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="doSomething()">
      服务中
    </button>
    <button class="button" ng-click="doSomething()">
      已完成
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="order in orders" type="item-text-wrap" href="#/tab/orders/{{order.id}}">
        <h2>{{order.booked_time}}</h2>
        <p>{{order.status}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(order)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
